{
    "train_dir": "./data/transformed_train.json",
    "dev_dir": "./data/transformed_dev.json",
    "context_max_len": 100,
    "question_max_len": 25,
    "word_embedding_dir": "./data/glove.6B.50d.txt",
    "word_embedding_dim": 50,
    "output_word_dict_dir": "./data/word_dict.json",
    "output_train_dir": "./data/index_train.json",
    "output_dev_dir": "./data/index_dev.json",
    "output_embedding_matrix": "./data/embedding_matrix.pkl"
}
