{
    "train_dir": "./data/index_train.json",
    "dev_dir": "./data/index_dev.json",
    "embedding_dir": "./data/embedding_matrix.pkl",
    "context_max_len": 100,
    "question_max_len": 20,
    "batch_size": 16,
    "epochs": 20,
    "learning_rate": 0.5,
    "decay_rate": 0.999,
    "max_grad_norm": 10.0,
    "checkpoint_dir": "./checkpoints/",
    "patience_max": 5,
    "dropout": 0.2
}
